*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html, body {
    overflow-x: hidden;
}



.navbar{
     background-color: rgb(30, 28, 28);
display: flex;
justify-content:center;
gap: 80px;
align-items: center;
height: 80px;
position: fixed;
    width: 100%;


}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: 0 40px;
    width: 100%;
}
a{
    text-decoration: none;
}

#heading{
    font-size: 30px;
background-image: linear-gradient(to top, red ,orange);
text-decoration: none;
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;

}
.nav{
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 60px;
    align-items: center;
    
}
.items
{
    color: white;
    font-size: 18px;

}
.nav-btn{
    font-size: 18px;
   padding: 10px 25px;
   border-radius: 10px;
    background: linear-gradient(to right,orange,red,purple);
  color: white;
}

.menu-icon{
    visibility: hidden;
}






.items:hover{
    color: blue;
}
.btn{
    display: flex;
    align-items: center;
}
#home{
    background-color: black;
    color: white;
    padding-top: 80px;
    
    width: 100%;
    min-height: 100vh;
}
#home-elements{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
#tag-line{
    margin-top: 15%;
    font-size: 100px;
}
#colors{
 background:linear-gradient(to right, rgb(118, 212, 17), red , rgb(200, 85, 104));
 -webkit-text-fill-color: transparent;
 -webkit-background-clip: text;
}
#tag-desc{
    font-size: 60px;
    margin-top: 15px;
    color: rgb(115, 19, 211);
}

#home-btn{
    padding: 20px 50px;
    margin-top: 15px;
    font-size: 25px;
        background: linear-gradient(to right, orange,red,purple);
        border: none;
        color: white;
        border-radius: 10px;
        font-weight: bold;
      
}  

#home-btn:hover{
     
    background: rgb(248, 101, 125);
   
}

@media screen and ( max-width:600px) {
    #tag-line{
        font-size: 80px;
        text-align: center;
        
    }
    #tag-desc{
        font-size: 60px;
        text-align: center;
    }

     .nav{
        visibility: hidden;
        
     }
     .menu-icon{
        visibility: visible;
     }
    
     #about-con{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;

     }
     #container{
        height: 300px;
        width: 300px;
     }
     #content-div{
        width: 300px;
     }

     #card-con{
        width: 300px;
        height: 500px;
     }

}



#about{
    color: white;
    background-color: rgb(16, 15, 15);
    min-height: 100vh;
}

#container{
   width: 80%;
    max-width: 500px;        /* same size as your design on big screens */
    aspect-ratio: 1 / 1; 
    background:linear-gradient(to right,rgb(108, 205, 232),rgb(56, 148, 234),rgb(221, 95, 215));
    border-radius: 10px;
    margin: 30px;
     display: flex;
    justify-content: center;
    align-items: center;
   
}
 svg{
   padding: 0px;
   margin:0px;
    
}
#about-con{
    display: flex;
    justify-content: space-evenly;
    padding: 130px;
 align-items: center;
}

#content-div{

    padding: 40px;
    width: 700px;
    
}

#question{
    color: red;
    font-size: 32px;
    margin-top: 20px;
}
#content-heading{
    font-size: 4rem;
    background: linear-gradient(to right,rgb(102, 10, 224),violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 20px;
}

#call-desc{
    font-size: 30px;
    color: white;
    margin-top: 20px;
}


#call-btn{
    margin-top: 20px;
    padding: 20px 10%;
    border-radius: 10px;
    border: none;
    background: linear-gradient(to right, orange,red,purple);
    font-size: 28px;
    color: white;
    
}

#services{
    background-color: black;
    min-height: 100vh;
    
}
#wrap-con{
    padding: 100px;
}
#service_heading{
    font-size: 30px;
    color: red;
    text-align: center;
}

#service-con{
    display: flex;
    align-items: stretch;
    justify-content: center;
    
}

.card-con{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 90%;
      max-width: 400px;
    
    color: white;
    background-color: aqua;
    margin-top: 60px;
    margin-left: 20px;
    border-radius: 10px;
    padding: 130px 40px;
}




.card-heading{
    font-size: 25px;
    font-weight: bold;
}

.card-subline{
    font-size: 19px;
}

.card-btn{
    height: 50px;
    width: 60%;
    font-size: 16px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 10px;
    margin-top: auto;
    
}


#card1{
     background: linear-gradient(to right,rgb(0, 242, 255),rgb(148, 56, 229),violet);
}

#card2{
     background: linear-gradient(to right,rgb(0, 255, 191) ,rgb(0, 232, 253),rgb(0, 130, 251));
}

#card3{
     background: linear-gradient(150deg,indigo 160px,rgb(224, 62, 173),red,orange);
}

#card4{
     background: linear-gradient(to right,rgb(0, 242, 255),rgb(148, 56, 229),violet);
}


#Sign-up{
    background-color: rgb(16, 15, 15); 
    min-height: 100vh;
    }

#signup-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 150px 90px;
}

#signup-content{

    margin-top: 20px;

}

#signup-pic{
     width: 80%;
    max-width: 500px;  
    aspect-ratio: 1 / 1;
    background: linear-gradient(to right,rgb(255, 0, 132),rgb(232, 42, 42));
    padding: 50px 20px;
    border-radius: 10px;
     display: flex;
    justify-content: center;
    align-items: center;

}

#signup-join{
    font-size: 35px;
    color: rgb(206, 55, 55);
}

#signup-heading{
    font-size: 60px;
    color: rgb(146, 0, 191);

}
#signup-content{
    font-size: 28px;
    color: white;
    font-weight: bold;
}

#signup-btn{
    height: 60px;
    width: 45%;
    font-size: 25px;
    margin-top: 20px;
    border: none;
    background: linear-gradient(to right,orange,red,purple);
    border-radius: 5px;
    color: white;
}

footer{
    min-height: 60vh;
    background-color: black;
    color: white;
    overflow: hidden;
  
}

.upper-content{
    display: flex;
    justify-content: center;
    gap: 90px;
    padding: 100px;
}


.lower-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
#icons{
    display: flex;
}
.footer-content{
    margin-top: 6px;
}

#icons{
    display: flex;
    gap: 30px;
    align-items: center;
   
}

/* -------------------------- */
/* MOBILE MENU FUNCTIONALITY  */
/* -------------------------- */

/* When menu opens */
.show-menu {
    visibility: visible !important;
    display: flex !important;
    flex-direction: column;
    background-color: rgb(30, 28, 28);
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    padding: 20px 0;
    gap: 30px;
    align-items: center;
}


/* -------------------------- */
/* RESPONSIVE BREAKPOINTS     */
/* -------------------------- */

/* -------- SMALL MOBILE (max-width: 600px) -------- */
@media (max-width: 600px) {
     
    #tag-line {
        font-size: 75px;
        
    }

    #tag-desc {
        font-size: 35px;
    }

     #about svg {
        width: 50% ;
    }
     #Sign-up svg {
        width: 70% ;
    }
    #service_heading {
        font-size: 30px;
       
    }
      #wrap-con{
        padding: 30px 15px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    #signup-heading {
        font-size: 50px;
    }
    #signup-join {
        font-size: 30px;
        text-align: center;
    }

    #signup-content {
        font-size: 22px;
        text-align: center;
    }

    #container {
        margin: 20px auto;
    }

   

    .card-con{
        margin: 20px 20px;
        padding: 50px 20px;
       
    }
}


/* -------- TABLET & MOBILE (max-width: 992px) -------- */
@media (max-width: 992px) {

    /* NAVBAR */
    .navbar .nav {
        display: none;
    }

    .menu-icon {
        visibility: visible;
        cursor: pointer;
    }

    /* HOME */
    #tag-line {
        font-size: 80px;
        text-align: center;
    }

    #tag-desc {
        font-size: 35px;
        text-align: center;
    }

    /* ABOUT */
    #about-con {
        flex-direction: column;
        padding: 50px 20px;
    }

  

    #container {
        width: 80%;
        height: auto;
        margin: 0;
        
    }

    #content-div {
        width: 90%;
        padding: 20px;
        text-align: center;
    }

    #content-heading {
        font-size: 3.8rem;
    }

    /* SERVICES */
    #service-con {
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        
    }

   
     
    .card-heading {
         font-size: 24px;
        line-height: 30px;
    }
    .card-subline {
        font-size: 18px;
       
    }
    /* SIGNUP */
    #signup-container {
        flex-direction: column;
        padding: 50px 20px;
        gap: 50px;
        align-items: center;
        text-align: center;
    }

    #signup-pic {
        width: 80%;
        height: 60%;
    }

    /* FOOTER */
    .upper-content {
        flex-direction: column;
        gap: 40px;
        padding: 40px 20px;
       align-items: center;
       text-align: center;
    }

    .lower-content {
        flex-direction: column;
        gap: 15px;
    }
    
     .card-btn {
        width: 70%;
        height: 49px;
        font-size: 16px;
    }
}


